<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.basis_coding_details.mapper.basis_coding_details.BasisCodingDetailsMapper">
    
	<sql id="basisCodingDetailsColumns">
		a.id AS "id",
		a.coding AS "coding",
		a.type_fk AS "typeFk",
		a.chinese_description AS "chineseDescription",
		a.english_description AS "englishDescription",
		a.character_value AS "characterValue",
		a.float_value AS "floatValue",
		a.int_value AS "intValue",
		a.isdefault AS "isdefault",
		a.notes AS "notes",
		a.status AS "status"
	</sql>
	
	<sql id="basisCodingDetailsJoins">
		
	</sql>
	
    
	<select id="get" resultType="BasisCodingDetails" >
		SELECT 
			<include refid="basisCodingDetailsColumns"/>
		FROM basis_coding_details a
		<include refid="basisCodingDetailsJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="BasisCodingDetails" >
		SELECT 
			<include refid="basisCodingDetailsColumns"/>
		FROM basis_coding_details a
		<include refid="basisCodingDetailsJoins"/>
		<where>
			
			${dataScope}
			<if test="typeFk != null and typeFk != ''">
				AND a.type_Fk = #{typeFk}
			</if>
			<if test="chineseDescription != null and chineseDescription != ''">
				AND a.chinese_description = #{chineseDescription}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="BasisCodingDetails" >
		SELECT 
			<include refid="basisCodingDetailsColumns"/>
		FROM basis_coding_details a
		<include refid="basisCodingDetailsJoins"/>
		<where>
			
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO basis_coding_details(
			id,
			coding,
			type_fk,
			chinese_description,
			english_description,
			character_value,
			float_value,
			int_value,
			isdefault,
			notes,
			status
		) VALUES (
			#{id},
			#{coding},
			#{typeFk},
			#{chineseDescription},
			#{englishDescription},
			#{characterValue},
			#{floatValue},
			#{intValue},
			#{isdefault},
			#{notes},
			#{status}
		)
	</insert>
	
	<update id="update">
		UPDATE basis_coding_details SET 	
			coding = #{coding},
			type_fk = #{typeFk},
			chinese_description = #{chineseDescription},
			english_description = #{englishDescription},
			character_value = #{characterValue},
			float_value = #{floatValue},
			int_value = #{intValue},
			isdefault = #{isdefault},
			notes = #{notes},
			status = #{status}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM basis_coding_details
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE basis_coding_details SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="BasisCodingDetails" statementType="STATEMENT">
		select * FROM basis_coding_details  where ${propertyName} = '${value}'
	</select>
	
</mapper>