<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.physiologyassess.mapper.EdPhysiologyassessLogMapper">
    
	<sql id="edPhysiologyassessLogColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.del_flag AS "delFlag",
		a.remarks AS "remarks",
		a.elderid AS "elderid.id",
		a.assesstime AS "assesstime",
		a.xueya AS "xueya",
		a.maibo AS "maibo",
		a.huxi AS "huxi",
		a.tiwen AS "tiwen",
		a.tizzhong AS "tizzhong",
		a.shengao AS "shengao",
		a.tizhongzhibiao AS "tizhongzhibiao",
		a.shuimianzhuangkuang AS "shuimianzhuangkuang",
		a.pifuzhuangkuang AS "pifuzhuangkuang",
		a.yinyangzhuangkuang AS "yinyangzhuangkuang",
		a.tunyanqingkuang AS "tunyanqingkuang",
		a.yinshiqingkuang AS "yinshiqingkuang",
		a.jujueqingkuang AS "jujueqingkuang",
		a.yachizhuangkuang AS "yachizhuangkuang",
		a.xiaobian AS "xiaobian",
		a.dabian AS "dabian",
		a.xiyan AS "xiyan",
		a.xiyanshuliang AS "xiyanshuliang",
		a.yijiediaonianfen AS "yijiediaonianfen",
		a.yinjiu AS "yinjiu",
		a.yinjiufenliang AS "yinjiufenliang",
		a.yijiejiunianfen AS "yijiejiunianfen",
		a.tongzheng AS "tongzheng",
		a.tongzhengweizhi AS "tongzhengweizhi",
		a.assessor AS "assessor.id",
		a.assessordept AS "assessordept.id",
				
				
				
				
				
				
				
		elderid.funame AS "elderid.funame",
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
		assessor.name AS "assessor.name",
				
		assessordept.name AS "assessordept.name"
	</sql>
	
	<sql id="edPhysiologyassessLogJoins">
		
		LEFT JOIN ed_elder_inf elderid ON elderid.id = a.elderid
		LEFT JOIN sys_user assessor ON assessor.id = a.assessor
		LEFT JOIN sys_office assessordept ON assessordept.id = a.assessordept
	</sql>
	
    
	<select id="get" resultType="EdPhysiologyassessLog" >
		SELECT 
			<include refid="edPhysiologyassessLogColumns"/>
		FROM ed_physiologyassess_log a
		<include refid="edPhysiologyassessLogJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="EdPhysiologyassessLog" >
		SELECT 
			<include refid="edPhysiologyassessLogColumns"/>
		FROM ed_physiologyassess_log a
		<include refid="edPhysiologyassessLogJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="elderid != null and elderid.id != null and elderid.id != ''">
				AND a.elderid = #{elderid.id}
			</if>
			<if test="assesstime != null and assesstime != ''">
				AND a.assesstime = #{assesstime}
			</if>
			<if test="assessor != null and assessor.id != null and assessor.id != ''">
				AND a.assessor = #{assessor.id}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="EdPhysiologyassessLog" >
		SELECT 
			<include refid="edPhysiologyassessLogColumns"/>
		FROM ed_physiologyassess_log a
		<include refid="edPhysiologyassessLogJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO ed_physiologyassess_log(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			del_flag,
			remarks,
			elderid,
			assesstime,
			xueya,
			maibo,
			huxi,
			tiwen,
			tizzhong,
			shengao,
			tizhongzhibiao,
			shuimianzhuangkuang,
			pifuzhuangkuang,
			yinyangzhuangkuang,
			tunyanqingkuang,
			yinshiqingkuang,
			jujueqingkuang,
			yachizhuangkuang,
			xiaobian,
			dabian,
			xiyan,
			xiyanshuliang,
			yijiediaonianfen,
			yinjiu,
			yinjiufenliang,
			yijiejiunianfen,
			tongzheng,
			tongzhengweizhi,
			assessor,
			assessordept
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{delFlag},
			#{remarks},
			#{elderid.id},
			#{assesstime},
			#{xueya},
			#{maibo},
			#{huxi},
			#{tiwen},
			#{tizzhong},
			#{shengao},
			#{tizhongzhibiao},
			#{shuimianzhuangkuang},
			#{pifuzhuangkuang},
			#{yinyangzhuangkuang},
			#{tunyanqingkuang},
			#{yinshiqingkuang},
			#{jujueqingkuang},
			#{yachizhuangkuang},
			#{xiaobian},
			#{dabian},
			#{xiyan},
			#{xiyanshuliang},
			#{yijiediaonianfen},
			#{yinjiu},
			#{yinjiufenliang},
			#{yijiejiunianfen},
			#{tongzheng},
			#{tongzhengweizhi},
			#{assessor.id},
			#{assessordept.id}
		)
	</insert>
	
	<update id="update">
		UPDATE ed_physiologyassess_log SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			elderid = #{elderid.id},
			assesstime = #{assesstime},
			xueya = #{xueya},
			maibo = #{maibo},
			huxi = #{huxi},
			tiwen = #{tiwen},
			tizzhong = #{tizzhong},
			shengao = #{shengao},
			tizhongzhibiao = #{tizhongzhibiao},
			shuimianzhuangkuang = #{shuimianzhuangkuang},
			pifuzhuangkuang = #{pifuzhuangkuang},
			yinyangzhuangkuang = #{yinyangzhuangkuang},
			tunyanqingkuang = #{tunyanqingkuang},
			yinshiqingkuang = #{yinshiqingkuang},
			jujueqingkuang = #{jujueqingkuang},
			yachizhuangkuang = #{yachizhuangkuang},
			xiaobian = #{xiaobian},
			dabian = #{dabian},
			xiyan = #{xiyan},
			xiyanshuliang = #{xiyanshuliang},
			yijiediaonianfen = #{yijiediaonianfen},
			yinjiu = #{yinjiu},
			yinjiufenliang = #{yinjiufenliang},
			yijiejiunianfen = #{yijiejiunianfen},
			tongzheng = #{tongzheng},
			tongzhengweizhi = #{tongzhengweizhi},
			assessor = #{assessor.id},
			assessordept = #{assessordept.id}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM ed_physiologyassess_log
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE ed_physiologyassess_log SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="EdPhysiologyassessLog" statementType="STATEMENT">
		select * FROM ed_physiologyassess_log  where ${propertyName} = '${value}'
	</select>
	
</mapper>